[workspace]
members = [
    ".",
    "polimorphic",
    "polimorphic_core",
]

[package]
name = "calculator"
version = "0.1.0"
edition = "2021"

[dependencies]
polimorphic = { path = "polimorphic" }
polimorphic_core = { path = "polimorphic_core" }
