[workspace]
members = [
    ".",
    "polimorphic",
]

[package]
name = "calculator"
version = "0.1.0"
edition = "2021"

[dependencies]
polimorphic = { path = "polimorphic" }
base32 = "0.4.0"
base36 = "0.0.1"
base64 = "0.22"
base-x = "0.2.1"
base91 = "0.1.0"
rand = "0.8"
