[package]
name = "polimorphic"
version = "0.1.0"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
syn = "2.0"
quote = "1.0"
rand = "0.8"
proc-macro2 = "1.0"
base32 = "0.4.0"
base-x = "0.2"
base64 = "0.22"
base85 = "1.1"
base91 = "0.1.0"
polimorphic_core = { path = "../polimorphic_core" }
