[package]
name = "polimorphic_core"
version = "0.1.0"
edition = "2021"

[dependencies]
base32 = "0.4.0"
base-x = "0.2"
base64 = "0.22"
base85 = "1.1"
base91 = "0.1.0"
lazy_static = "1.4.0"
thiserror = "1.0"
